body
{
    color: #000000;
    padding: 0px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: center !important;
  width: 60%;
  align-content: center !important;
  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  float: center;
}

div.desc {
  padding: 15px;
  text-align: center;
}